@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=SUSE:wght@100..800&display=swap');
:root{
    --bkg-color: #eff0ec;
    --primary-color: #287437;
    --textTit-color: #093212;
    --focus-bkg:#0932122c;
    --textDex-color:#142417;
    --font:  "Arima", system-ui;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
body{
    background-color: var(--bkg-color);
}